@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.App{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #f57472fa;
  height: 100vh;
  color: aliceblue;
}

.App .container {
  padding-top: 10%;
}

h1{
  font-size: 65px;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}
p {
  font-weight: 300;
  font-size: 22px;
  padding-top: 60px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.logo-container {
  padding-top: 15px;
}

h4{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}